In [5]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

In [17]:
data = load_iris()
X = data.data
y = data.target

data.feature_names

df = pd.DataFrame(X, columns=data.feature_names)
df['species'] = y

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=46)

In [24]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9555555555555556

In [4]:
sklearn.dataset

AttributeError: module 'sklearn' has no attribute 'dataset'